
.coding-experience-section-container{
    display: flex;
    justify-content: center;

}
.coding-experience-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
}
.coding-experience-section-paragraph-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
.coding-experience-section-paragraph-title{
    color: #ffffff;
    font-size: 34px;
}
:root {
    --base-color: #ecf0f1;
    --code-layer-color: #010b1f;
    --function-color: #e67e22;
    --function-name-color: #f1c40f;
    --string-color: #2ecc71;
    --parameter-color: #3498db;
    --var-color: #e74c3c;
    --comment-color: #7f8c8d;
    --network-layer-color: #1abc9c;
}
.ui-window-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.ui-window {
    width: 310px;
    height: 360px;
    background: var(--base-color);
    border-radius: 10px;
    box-shadow: 5px -5px 0 1px rgba(0, 0, 38, 0.55);
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    animation: 4s infinite hovering_window;
}
.ui-window-shadow{
    width: 300px;
    height: 0px;
    background-color: #4866ff;
    box-shadow: 10px 10px 75px 10px rgba(0, 62, 124, 0.8);
    z-index: -10;
    transform: skew(0deg, 15deg);
    animation: 4s infinite shadow_shrink;
}
.ui-window__layer {
    height: 100%;
    padding: 2rem;
    border-radius: 6px;



    &[name="code"] {
        background: var(--code-layer-color);

        code {
            color: var(--base-color);

            .function {
                color: var(--function-color);

                &:after {
                    content: " = ";
                    color: var(--function-name-color);
                }
            }

            .parameter {
                color: var(--parameter-color);

                &:before {
                    content: "( ";
                    color: var(--base-color);
                }

                &:after {
                    content: " ) ->";
                    color: var(--base-color);
                }
            }

            .statements {
                margin-top: 0.5rem;
                padding-left: 2rem;
            }

            .var {
                color: var(--var-color);


            }

            .called__parameter {
                color: var(--parameter-color);
            }

            .node {
                color: var(--parameter-color);
            }

            .child {
                color: var(--function-name-color);

            }
            .string{
                color: var(--string-color);

                &:before,
                &:after {
                    content: '"';
                }

                &:after {
                    margin-top: 1rem;
                }
            }
            .multi-line-string {
                color: var(--string-color);
                display: block;
                &:before,
                &:after {
                    content: '"""';
                }

                &:after {
                    margin-top: 1rem;
                }
            }

            .comment-block {
                color: var(--comment-color);
                margin-top: 1rem;

                &:before {
                    content: "/* =====================";
                    display: block;
                }

                &:after {
                    content: "===================== */";
                    display: block;
                }
            }
        }
    }
}
