.welcome-section-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: calc(100vh - 75px);
}

.welcome-section-text-container {
    display: flex;
    gap: 50px;
    flex-direction: column;
}

.welcome-section {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    z-index: 2;
    position: relative;
}

.welcome-paragraph {
    color: var(--paragraph-color);
    width: 300px;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Cascadia Code', monospace;
}

.welcome-text-head-h1 {
    color: var(--text-color);
    font-family: Cascadia Code, sans-serif;
}

.welcome-section-image-container {
    display: flex;
}
