:root {
    --text-color: #fff;
    --paragraph-color: #9da1af;
    --gradient-start: #42d392;
    --gradient-end: #647eff;

    --window-ui-base-color: #ecf0f1;
    --window-ui-code-layer-color: #010b1f;
    --window-ui-function-color: #e67e22;
    --window-ui-function-name-color: #f1c40f;
    --window-ui-string-color: #2ecc71;
    --window-ui-parameter-color: #3498db;
    --window-ui-var-color: #e74c3c;
    --window-ui-comment-color: #7f8c8d;
    --window-ui-network-layer-color: #1abc9c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cascadia Code, sans-serif;
    
}

body, html {
    background-color: rgb(0, 0, 14);
    margin: 0;
    padding: 0;
    position: relative;
}