/*NORMAL NAVBAR*/
.navbar {
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 90px;
    z-index: 100;
    position: sticky;
    top: 0;
    box-shadow: 1px 1px 90px rgba(0, 0, 51, 0.61);
    width: 100%;
    backdrop-filter: blur(6px);
    background: rgba(var(--background-color), 0.3);
    border-radius: 20px;
    animation: navbar_appear 0.3s ease-in-out forwards;
}

.navbar .navbar-ul {
    list-style-type: none;
    display: flex;
    gap: 30px;

}

.navbar .navbar-li {
    font-family: Cascadia Code, sans-serif;
}

.navbar a{
    text-decoration: none;
    color: inherit;
}

.navbar .navbar-ul a:visited{
    color: inherit;
}

.navbar .bubble-navbar-ul {
    display: none;
}

.navbar-li:hover .hover-curly-braces {
    color: transparent;
    background-image: linear-gradient(45deg, var(--gradient-start), var(--gradient-end));
    background-clip: text;
    opacity: 0.75;
    -webkit-background-clip: text;
    font-family: Cascadia Code, sans-serif;
    font-weight: 600;
    transition: background-image 0.3s ease;
    cursor: pointer;
}


.navbar-li:hover {
    cursor: pointer;
    opacity: .8;
}

.navbar-li:active {
    color: var(--paragraph-color);
}

.brand-name {
    display: flex;
    align-items: center;
}

.brand-logo {
    font-size: 30px;
}

.brand-logo:hover {
    background-image: linear-gradient(45deg, var(--gradient-start), var(--gradient-end));
    background-clip: text;
    opacity: 1;
}

.brand-text {
    color: var(--text-color);
    margin: 0 1px;
    font-family: Cascadia Code, sans-serif;
    font-size: 25px;
    font-weight: 100;
}

.menu-toggle {
    display: none;
}

/*BUBBLE NAVBAR*/
.bubble-navbar {
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    transition: all 0.3s ease;
    animation: bubble_navbar_appear .8s ease-in-out;
}

.bubble-navbar .bubble-navbar-ul {
    display: flex;
    justify-content: space-between;
    width: min-content;
    background-image: linear-gradient(45deg, rgba(66, 108, 87, 0.29), rgba(116, 120, 145, 0.31));
    backdrop-filter: blur(7px);
    border-radius: 60px;
    padding: 6px;
}
.bubble-navbar a{
    text-decoration: none;
    color: inherit;
}

.bubble-navbar .bubble-navbar-ul a:visited{
    color: inherit;
}

.bubble-navbar .bubble-navbar-ul li {
    list-style-type: none;
    padding: 20px;
    border-radius: 60px;
    opacity: .7;
}

.bubble-navbar-ul li:hover {
    background-image: linear-gradient(45deg, rgba(66, 108, 87, 0.29), rgba(116, 120, 145, 0.42));
    border-radius: 60px;
}

.bubble-navbar .brand-name {
    display: none;
}

.bubble-navbar .navbar-ul {
    display: none;
}