@media (max-width: 900px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        padding: 20px 0;
    }

    header {
        padding: 20px 50px;

    }

    .navbar .navbar-ul {
        flex-direction: column;
        gap: 30px;
        width: 100%;
        padding: 10px 0;
        display: none;
        justify-content: center;
        align-items: center;
    }

    .navbar .navbar-ul.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
        font-size: 24px;
        cursor: pointer;
        color: #fff;
    }

    .brand-name {
        width: 100%;
        justify-content: space-between;
    }

    .welcome-section {
        flex-direction: column;
        justify-content: space-around;
        height: 800px;
    }
    .welcome-section-container{
        height: min-content;
    }
    .grid-left {
        width: 100%;
        height: 100%;
    }

    .coding-experience-section {
        flex-direction: column;
        gap: 100px;
    }

    .ui-window {
        transform: skew(0deg, 0deg);
        animation: none;
        box-shadow: none;
    }
    .ui-window-shadow{
        display: none;
    }
    .welcome-section-text-container{
        text-align: center;
        align-items: center;
    }
    .coding-experience-section-paragraph-container{
        align-items: center;
    }
}