:root {
    --text-color: #fff;
    --paragraph-color: #9da1af;
    --gradient-start: #42d392;
    --gradient-end: #647eff;
    --background-color: #00000e;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cascadia Code, sans-serif;
    scroll-behavior: smooth;
    font-weight: 500;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}
*::before,
*::after{
    box-sizing: border-box;
}

body, html {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    position: relative;
}